.login-section{
    margin: 2vw;
    display: flex;
    justify-content: center;
    
    form{
        width: 80vw;
        h3{
            text-align: center;
            font-size: 2rem;
            margin: 1.5rem;
        }
        .form-group{
            margin: 1rem;
            margin-bottom: 1vh;
            label{
                font-size: 1.2rem;
                margin-bottom: 1vh;
            }
        }
        
    }
    .btn-lg{
        margin-left: 35vw;
        margin-top: 3vh;
    }
    
    @media (max-width: 450px) {
        .btn-lg{
            margin-left: 25vw;
            margin-top: 3vh;
            margin-bottom: 10px;
        }
    }
}

.japossuilogin {
    color: blue;
    font-size: 1.3rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}